:root {
  --body-max-width: 1024px;
  --card-bg-color: #ffffff;
  --share-button-bg-color: var(--links);
  --share-button-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --card-bg-color: #283647;
    --share-button-bg-color: var(--links);
    --share-button-color: #000000;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

[hidden],
:not(:defined) {
  display: none !important;
}

.not-supported-error {
  margin-bottom: 16px;
  padding: 1rem;
  border: 1px solid #f1aeb5;
  border-radius: var(--border-radius);
  background-color: #f8d7da;
  color: #58151c;
}

.noscript-banner {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius);
  background-color: #f8d7da;
  text-align: center;
  color: #000000;
}

.component-description p {
  margin: 0 0 0.5rem 0;
}

.component-description p:last-child {
  margin-bottom: 0;
}

.card {
  background-color: var(--card-bg-color);
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid var(--border);
  margin-bottom: 0.5rem;
}

.card>button {
  margin: 0;
}

.card>details {
  margin-bottom: 0;
}

.card details summary {
  font-weight: 500;
}

.no-js .console-info {
  display: none !important;
}

.console-info {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
  font-size: 0.9rem;
  text-align: left;
}

.console-info svg {
  min-width: 20px;
  color: var(--links);
}

.dialog {
  width: 350px;
  padding: 0;
}

.dialog .dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 1rem;
}

.dialog .dialog-header svg {
  min-width: 16px;
}

.dialog :is(h1, h2, h3, h4, h5, h6) {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
  font-size: 1.125rem;
}

.dialog .dialog-body {
  padding: 1rem;
}

.dialog .dialog-body p {
  margin: 0 0 1rem 0;
}

.dialog .dialog-close {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0.5rem;
}

browser-window {
  --bw-background: var(--background-alt);
  display: block;
  text-align: center;
}

browser-window::part(base) {
  border-color: var(--border);
}

web-share button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 2.5rem;
  margin: 1.5rem auto;
  background-color: var(--share-button-bg-color);
  color: var(--share-button-color);
}

web-share button:hover:not(:disabled),
web-share button:active:not(:disabled) {
  background-color: var(--links);
}

web-share button svg {
  min-width: 20px;
}
